@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #f15e5e;
    --cyan: #3dbfc1;
    --orange: #f8b84e;
    --blue: #3d7eb9;
    --grey-500: #3b3b4f;
    --grey-500-shadow: #3b3b4e1a;
    --grey-400: #5b6b7b;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--grey-500);
    background: var(--white);    
}

header {
    width: clamp(270px, 33%, 600px);
    padding: 16px 0;
    text-align: center;
}

header h1 {
    font-size: clamp(1.2em, 2.5vw, 1.5em);
    font-weight: 600;
}

header span {
    font-size: clamp(1em, 2.5vw, 1.4em);
    font-weight: 200;
}

header p {
    margin-top: 8px;
    font-size: clamp(0.8em, 2vw, 1em);
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 0;  
}



.supervisor {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

.team-builder {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.karma {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.calculator {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
}

.feature-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: clamp(135px, 50%, 600px);
    padding: 16px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 2px var(--grey-500-shadow);
}



.team-builder {    
    border-top: #f15e5e 5px solid;
}

.karma {
    border-top:  #f8b84e 5px solid;
}

.calculator {
    border-top:  #3d7eb9 5px solid;
}

.supervisor {
    border-top: #3dbfc1 5px solid;
}

.feature {
    font-size: 1em;
}

.feature-container p {
    font-size: 0.8em;
    font-weight: 400;
}

.feature-container img {
    width: 40px;
    align-self: flex-end;
}


footer {
    margin-top: auto;
    width: 100%;
    padding: 8px 0;
    background: var(--grey-400);
    color: var(--white);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--cream);
}

.attribution a:hover {
    color: var(--black);
}

@media (max-width: 650px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}